.space-cta-button {
    background: linear-gradient(45deg,#071b4c, #0066ff, #213864, #3c55d5, #071b4c);
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 150, 255, 0.5);
}

.space-cta-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px rgba(0, 150, 255, 0.7);
}
